In [3]:
# 11.1
import zoo
zoo.hours()

'Open 9-5 daily'

In [27]:
# 11.2
import zoo as menagerie
menagerie.hours()

'Open 9-5 daily'

In [1]:
# 16.8
import sqlite3
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
    (title VARCHAR(20) PRIMARY KEY,
     author VARCHAR(20),
     year INT)''')
curs.execute('INSERT INTO books VALUES("Cook Book", "Mr. Someone", 2002)')
curs.execute('INSERT INTO books VALUES("Book Cook", "Dr. Muchtwo", 2003)')
curs.execute('INSERT INTO books VALUES("Dook Look", "Sr. Lessthree", 2004)')
curs.execute('SELECT * FROM books ORDER BY title')
x = curs.fetchall()
print(x)
curs.close()
conn.close()

[('Book Cook', 'Dr. Muchtwo', 2003), ('Cook Book', 'Mr. Someone', 2002), ('Dook Look', 'Sr. Lessthree', 2004)]